<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1" user-scalable=no>
<title>购物车</title>
<link rel="stylesheet" href="style/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="style/reset.css" />
<link type="text/css" rel="stylesheet" href="style/goods_details.css" />
<script src="js/js/myfocus-2.0.1.min.js" type="text/javascript"></script>
<script src="js/js/mf-pattern/mF_YSlider.js" type="text/javascript"></script>
<link href="js/js/mf-pattern/mF_YSlider.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
myFocus.set({
	id:'lbBox'}
	)
</script>
<script src="js/base.js" type="text/javascript"></script>
</head>

<body>
    <div class="wrap">
       <div class="top_details">
          <ul>
             <li class="return"><a href="shop.html"><img src="images/icon/back.png" class="return"/></a></li>
             <li class="right_title">购物车</li>  
          </ul>
       </div><!--top结束-->
       
       <div id="lbBox">
          <div class="pic">
               <ul>
                  <li><img src="images/mukewang/ad2.jpg"/></li>
                  <li><img src="images/mukewang/ad3.jpg"></li>
                  <li><img src="images/mukewang/ad.jpg"/></li>
                  <li><img src="images/mukewang/ad3.jpg"/></li>
                  <li><img src="images/mukewang/ad2.jpg"/></li>
               </ul>
           </div>
       </div><!--轮播图结束-->

       <!--购物车开始-->
        <div class="container" ng-app="app" ng-controller="table" style="background-color:red">
            <table class="table table"  ng-repeat="a in Products">
      
                <tr>
                    <td colspan="3"><strong>产品编号:</strong>{{a.gid}}</td>
                </tr>
                <tr>
                    <td>产品名称 : {{a.title}}</td><td></td><td></td>
                </tr>
                <tr>
                    <td colspan="3">购买数量 : <button class="btn " ng-click="reduce($index)">-</button>
                        <input style="width: 1rem; height: 0.2rem; text-align:center;" type="number" ng-model="a.num" >
                        <button class="btn " ng-click="add($index)">+</button>
                    </td>
                </tr>
                <tr>
                    <td>产品单价:{{a.price}}</td><td></td><td></td>
                </tr>
                <tr>
                    <td>产品总价:{{a.price*a.num}}</td><td></td><td></td>

                </tr>
                <tr> <td><button class="btn btn-danger btn-group-xs " ng-click="delete($index)">删除</button></td></tr>
            </table>
            <table class="table table">
                <tr>
                    <td colspan="2"><strong>总价格：</strong>{{totalPrice()}}</td>
                    <td><strong>总数量：</strong>{{sumQuan()}}</td>
                </tr>
                <tr>
                    <td><button class="btn btn-danger" ng-click="removeAll()">清空购物车</button></td>
                    <td><button class="btn btn-success" ng-click="pay()">结算</button></td>
                </tr>
            </table>
        <div class="kong"></div>
        </div>
       <!--购物车结束-->

        <div class="navBox">
            <ul class="nav">
                <li>
                    <a href="javascript:void(0)" onclick="javascript:window.location.replace('homepage.html')"><img src="images/icon/shouye.png">
                        <span>首页</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" onclick="javascript:window.location.replace('news.html')"><img src="images/icon/news1.png"/>
                        <span>新闻</span>
                    </a>
                </li>
                <li>
                    <a  href="javascript:void(0)" onclick="javascript:window.location.replace('task.html')"><img src="images/icon/renwu1.png" />
                        <span>任务</span>
                    </a>
                </li>
                <li>
                    <a  href="javascript:void(0)" onclick="javascript:window.location.replace('shop.html')"><img src="images/icon/gouwuch1.png" />
                        <span>商城</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" onclick="javascript:window.location.replace('my.html')"><img src="images/icon/wode1.png"/>
                        <span>我的</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
     <script src="libs/jquery-1.11.0.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script>
     
        window.onload=function(){
              $.ajax({
                url:"http://www.chinadxr.cn:3000/users/getcar",
                datatype:'jsonp',
                data:{
                    phone:localStorage.getItem("phonenumber")
                    },
                cache:false,
                type:'get',
                success:function(data){
                    if(typeof(Storage)!=="undefined"){
                        localStorage.setItem("yy",JSON.stringify(data));
                    }
                    else{
                        alert("浏览器不支持本地存储！");
                    }
                  
                }
            });

        }

    var  app=angular.module("app",[]);
        app.controller("table",function($scope){ 
        $scope.Products=JSON.parse(localStorage.getItem("yy"));
//总价格：
            $scope.totalPrice=function(){
                var total=0;
                angular.forEach($scope.Products,function(item){
                    // var arr=JSON.parse(item);
                    total+=item.price*item.num;
                })
                return total;
            },
//   总数量
            $scope.sumQuan=function(){
                var total=0;
                angular.forEach($scope.Products,function(item){
                    total+=parseInt(item.num);
                })
                return total;
            }
// 删除一行
            $scope.delete=function(index){
                $scope.Products.splice(index,1);
        },
// 删除全部
            $scope.removeAll=function(){
                  var phone=localStorage.getItem("phonenumber");
                   $.ajax({
                     url:"http://www.chinadxr.cn:3000/users/delall",
                     datatype:'jsonp',
                     data:{
                         phone:phone
                         },
                     cache:false,
                     type:'get',
                     success:function(data){
                         if(data=='1'){
                           
                         }
                     }
                 });
                $scope.Products=[];
            },
//数量增加
            $scope.add=function(index){
                $scope.Products[index].num++;
            },
//结算
            $scope.pay=function(index){
                 var phone=localStorage.getItem("phonenumber");
                 $.ajax({
                    url:"http://www.chinadxr.cn:3000/users/pay",
                    datatype:'jsonp',
                    data:{
                        arr:$scope.Products,
                        phone:phone,
                      },
                    cache:false,
                    type:'get',
                    success:function(data){
                      if(data){
                         location.href="./pay.html";
                      }
                     }
                });
            },
//数量减少
            $scope.reduce=function(index){
                if($scope.Products[index].num>1){
                    $scope.Products[index].num--;
                }
                else{
                    var info=confirm("是否删除该元素");
                    if(info){
                        $scope.delete();
                    }
                    else{
                        $scope.Products[index].num=1;
                    }
                }
            }
        })
    </script>
</body>
</html>
