@charset "utf-8";
/* CSS Document */
.wrapatask
{
    height:8rem;
    font-size:0.2rem;
    background-color:#eee;
    width:6rem;
    margin:0 auto;
	position:relative;
}/*公用部分*/



.Task_details img{
	width:5rem;
}
.task
{
	width:6rem;

	background-color:#EEE;
	border-top:0.015rem solid #555;

}

.top
{
	width:5.5rem;
	height:0.3rem;
	margin-left:0.3rem;
	margin-top:0.2rem;
	float:left;
}



.Task_details
{
	width:4rem;
	height:2rem;
    margin-top:0.5rem
}
	
.Task_details li
{
	margin-left:0.3rem;


}

.btn_type
{
	width:6rem;
	height:0.8rem;
	margin-top:3rem;
}

.btn_type li
{
	float:right;
	margin-right:0.27rem;
}

#finish
{
	width:1.3rem;
	height:0.5rem;
	background-color:red;
	color:#FFF;
	border:none;
	font-size:0.18rem;
	border-radius: 0.1rem;
}
	
#failure
{
	width:1.3rem;
	height:0.5rem;
	background:#398;
	color:#FFF;
	border:none;
	font-size:0.18rem;
	border-radius: 0.1rem;
}

