@charset "utf-8";
/* CSS Document */
#add{
	float:left
}

.wrap
{
    height:10rem;;
    font-size:0.2rem;
    background-color:#eee;
    width:6rem;
    margin:0 auto;
	position:relative;
}/*公用部分*/

/*搜索框*/
.seek
{   
    width:6rem;
    height:0.4rem;
	background-color:#eee;
}

#seek
{
	width:4.5rem;
	height:0.4rem;
	color:#666;
	margin:0.1rem 0rem 0.1rem 0.27rem;
	border:none;
	padding-left:0.1rem;
	float:left;
}

#btn_seek
{
	wdith:1.2rem;
	height:0.4rem;
	color:#0D0;
	float:left;
	margin-top:0.1rem;
	padding-left:0.3rem;
	padding-right:0.3rem;
	border:none;
	background-color:#09F;
}/*搜索框按钮结束*/

.button
{
	width:6rem;
	background-color:#BBB;
	margin-bottom:0.9rem;
}

#button_a
{
	height:0.5rem;
	width:3rem;
	float:left;
	background:#DDD;
	border:none;
}

#button_b
{
	height:0.5rem;
	width:3rem;
	float:left;
	background:#FC6;
	border:none;
	border-left:0.01rem solid #000;
}/*发布接受按钮*/

#task
{
	width:6rem;
	background-color:#EEE;
}

.top
{
	width:5.5rem;
	height:0.3rem;
	margin-left:0.2rem;
	margin-top:0.3rem;
	float:left;
}

.shoucang
{
	float:right;
	margin-top:-0.38rem;
	margin-right:-0.1rem;
}

.dianzan
{
	margin-left:0.15rem;
}

.btn_accept
{
	width:6rem;
	/*height:0.7rem;*/
	margin-top:0.5rem;
}
	
.btn_accept li
{
	float:left;
	margin-left:0.2rem;
	margin-top:0.2rem;
}

.btn_accept p
{
	line-height:0.5rem;
	float:left;
	color:#E00;
}

#accept
{
	width:1rem;
	height:0.45rem;
	margin-left:0.25rem;
	margin-right:0.1rem;
	background-color:#0A0;
	color:#EEE;
	border:none;
	font-size:0.24rem;
}

#ignore
{
	width:1rem;
	height:0.45rem;
	background-color:#888;
	color:#FFF;
	border:none;
	font-size:0.24rem;
	margin-right:0.1rem;
}/*任务结束*/

