@charset "utf-8";
/* CSS Document */

.wrap
{
  font-size:0.26rem;
  background-color:#F66;
  width:6rem;
  height:12.5rem;
  margin:0 auto;
  position:relative;
}

.top_grade
{
	width:6rem;
	height:0.6rem;
	font-size:0.3rem;
	border-bottom:0.02rem solid #CCC;
	/*position:fixed;*/
}

.top_grade ul li
{
	float:left;
}

.return
{
	margin-left:0.1rem;
	line-height:0.4rem;
}
.return img{
	margin-top: 0.08rem;
}
.right_title
{
	margin-left:0.2rem;
	line-height:0.6rem;
	color:rgb(119,119,119);
}/*top结束*/

.content
{
	width:5.5rem;
	height:10rem;
	margin-left:0.25rem;
	margin-top:0.8rem;
}

#grade li
{
	float:left;
	line-height:0.5rem;
	margin-top:0.5rem;
	margin-left:0.3rem;
}

.box
{
	width:5.5rem;
	height:0.5rem;
	margin-top:1.1rem;
}

.box li
{
	height:0.5rem;
	margin-left:0.66rem;
	float:left;
	line-height:0.5rem;
}

#number li
{
	float:left;
	line-height:0.3rem;
	margin-left:0.2rem;
}

.grade_Box
{
	width:3rem;
	height:6rem;
	margin-top:0.8rem;
}

#grade_name li
{
	margin-left:0.3rem;
	line-height:0.7rem;
}

#return_button
{
	width:4.9rem;
	height:0.58rem;
	margin-top:0.4rem;
	font-size:0.26rem;
}





















