@charset "utf-8";
/* CSS Document */

.wrap
{
  font-size:0.3rem;
  background-color:rgb(229,11,10);
  width:6rem;
  height:10rem;
  margin:0 auto;
  position:relative;
}

.picture
{
	width:1.7rem;
	height:1.7rem;
	margin-left:2.1rem;
	padding-top:0.5rem;
}

.picture img
{
	width:1.7rem;
	height:1.7rem;
}

.phone_email
{
	width: 5rem;
	height: 0.65rem;
	margin-top: 1rem;
	margin-left: 1rem;
}

#name
{
	width: 3rem;
	height: 0.5rem;
	background: none;
	font-size: 0.24rem;
	line-height: 0.6rem;
	padding-left: 0.2rem;
	color: #FFF;
	border-radius: 0.1rem;
	vertical-align:middle
}

.password_box
{
	width: 4rem;
	height: 0.6rem;
	margin-top: 0.5rem;
	margin-left: 1rem;
}

#password
{
	width: 3rem;
	height: 0.5rem;
	background:none;
	color: #FFF;
	font-size: 0.24rem;
	line-height: 0.8rem;
	padding-left: 0.2rem;
	border-radius: 0.1rem;
	vertical-align:middle
}

.forget_box
{
	width: 1.3rem;
	height: 0.4rem;
    margin-top: 0.1rem;
	margin-right: 0.2rem;
}

#forget
{
	width:5.5rem;
	height:0.6rem;
	font-size:0.24rem;
	border:none;
	background:none;
	margin-right: 0.1rem;
	text-align: right;
}

.btn_login
{
	width: 4rem;
	height: 1.8rem
	;
	margin-bottom: 0.2rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;

}

#login
{
	width:4rem;
	height:0.8rem;
	background:none;
	font-size:0.3rem;
	font-family:"微软雅黑";
	border-radius: 0.1rem;
}

#create
{
	width:4rem;
	height:0.8rem;
	border:none;
	background:none;
	font-size:0.3rem;

	margin:0.1rem auto
}
