@charset "utf-8";
/* CSS Document */

.wrap
{
  height:8rem;
  font-size:0.3rem;
  background-color:rgb(229,11,10);
  width:6rem;
  margin:0 auto;
}

.top_pay
{
	width:6rem;
	height:0.45rem;
	font-size:0.3rem;
	border-bottom:0.012rem solid #2A1F00;
	/*position:fixed;*/
}

.top_pay ul li
{
	float:left;
}

.return
{
	margin-left:0.1rem;
	line-height:0.55rem;
}

.right_title
{
	margin-left:0.2rem;
	line-height:0.45rem;
}/*top_pay结束*/

.defeat_pay
{
	width:5rem;
	height:0.5rem;
	margin-top:1rem;
	margin-left:0.7rem;
	line-height:0.55rem;
}

.task
{
	float:right;
	width:1.2rem;
	height:0.5rem;
	margin-top:-0.5rem;
	margin-right:0.5rem;
	font-size:0.24rem;
}

.defeat
{
	width:6rem;
	height:1rem;
}

.defeat_01
{
	width:5rem;
	height:0.55rem;
	margin-left:0.5rem;
	margin-top:5rem;
	margin-bottom:1.5rem;
	font-size:0.3rem;
}

