@charset "utf-8";
/* CSS Document */

.wrap
{
    font-size:0.12rem;
    background-color:#e50b0a;
    width:6rem;
	height: 10rem;
    margin:0 auto;
}/*公用部分*/

/*搜索框*/
.seek
{   
    width:6rem;
    height:0.6rem;
	background-color:#DDD;
	border-bottom:0.02rem solid #888;
}

#seek
{
	width:4.5rem;
	height:0.4rem;
	color:#666;
	margin:0.1rem 0rem 0.1rem 0.27rem;
	border:none;
	padding-left:0.1rem;
	float:left;
}

#btn_seek
{
	wdith:1.2rem;
	height:0.4rem;
	color:#fff;
	float:left;
	margin-top:0.1rem;
	padding-left:0.3rem;
	padding-right:0.3rem;
	border:none;
	background-color:#09F;
}/*搜索框按钮结束*/

.task_title
{
	width:6rem;
	height:0.8rem;
	font-size:0.25rem;
	margin-top:0.05rem;
	/*border-top:0.02rem solid #fff;*/
	border-bottom:0.01rem solid #fff;
	line-height:0.65rem;
	padding-left:0.3rem;
}

#title
{
	color:#2A1FFF;
}/*任务标题结束*/

.date
{
	width:6rem;
	height:0.9rem;
	border-bottom:0.01rem solid #fff;
}

.date ul li
{
	font-size:0.2rem;
	margin-top:0.15rem;
	float:left;
}

#integral
{
	color:#fff;
	margin-left:4.4rem;
	float:left;
}

#writer
{
	margin-left:0.15rem;
}

#date
{
	margin-left:0.5rem;
}


.content
{
	width:6rem;
	height:auto;
	margin-right:0.15rem;
	margin-bottom:0.1rem;
	border-bottom:0.01rem solid #fff;
	font-size:0.2rem;
    padding:0.2rem 0.17rem;
}/*任务内容结束*/

.position
{
	width:6rem;
	height:auto;
	font-size:0.2rem;
	margin-top:0.1rem;
}

.position p
{
	margin-left:0.2rem;}

.position img
{
	width:6rem;
	height:2.5rem;
	padding-top:0.2rem;
	margin-bottom:0.5rem;
}/*地理位置结束*/

#button
{
    height:0.5rem;
    width:5.5rem;
	margin-top:0.2rem;
	margin-bottom:0.5rem;
	margin-left:0.25rem;
	background:#398;
	color:#FFF;
	font-size:0.14rem;
	border:none;
	-webkit-border-radius: 0.2rem;
	-moz-border-radius: 0.2rem;
	border-radius: 0.1rem;
}/*接受任务按钮结束*/







