@charset "utf-8";
/* CSS Document */

/*公用部分*/



.task_title
{
	width:6rem;
	height:0.8rem;
	font-size:0.25rem;
	margin-top:0.05rem;
	/*border-top:0.02rem solid #fff;*/
	border-bottom:0.01rem solid #fff;
	line-height:0.65rem;
	padding-left:0.3rem;
}

#title
{
	color:#2A1FFF;
}/*任务标题结束*/

.date
{
	width:6rem;
	height:0.9rem;
	border-bottom:0.01rem solid #fff;
}

.date ul li
{
	font-size:0.2rem;
	margin-top:0.15rem;
	float:left;
}

#integral
{
	margin-left:2rem;
	float:left;
}

#writer
{
	margin-left:0.15rem;
}

#date
{
	margin-left:2rem;
}


.content
{
	width:6rem;
	height:auto;
	margin-right:0.15rem;
	margin-bottom:0.1rem;
	border-bottom:0.01rem solid #fff;
	font-size:0.2rem;
	border:1px;
    padding:0.2rem 0.17rem;
}/*任务内容结束*/

.position
{
	width:6rem;
	height:auto;
	font-size:0.2rem;
	margin-top:0.1rem;
}

.position p
{
	margin-left:0.2rem;}

/*地理位置结束*/

.button1
{
    height:0.5rem;
    width:5.5rem;
	margin-top:0.1rem;
	margin-bottom:0.1rem;
	margin-left:0.25rem;
	background:#398;
	color:#FFF;
	font-size:0.14rem;
	border:none;
	-webkit-border-radius: 0.2rem;
	-moz-border-radius: 0.2rem;
	border-radius: 0.1rem;
}/*接受任务按钮结束*/







