@charset "utf-8";
/* CSS Document */

.wraptaskplan
{
    height:auto;
    font-size:0.12rem;
    background-color:#eee;
    width:6rem;
	height:12rem;
    margin:0 auto;
}/*公用部分*/



.task_title
{
	width:5.7rem;
	height:0.8rem;
	font-size:0.25rem;
	margin-top:0.05rem;
	border-top:0.02rem solid #888;

	line-height:0.65rem;
	padding-left:0.3rem;
}

#title
{
	color:#2A1FFF;
}/*任务标题结束*/

.date
{
	width:6rem;
	height:1.5rem;
	font-size: 0.2rem;
}


.uploading
{
	width:6rem;
	height:4rem;
	margin-top:0.2rem;
	}

.plan
{
	width:2rem;
	height:0.4rem;
	font-size:0.2rem;
	margin-top:0.15rem;
	margin-left:0.2rem;

	}

.uploading .img1
{    
    width:5rem;
	height:3rem;
	border:0.01rem solid #000;
    margin:0.1rem auto;

}

  
.buttontp
{
    height:0.6rem;
    width:2.7rem;
	margin-top:0.2rem;
	margin-bottom:0.5rem;
	margin-left:0.25rem;
	background:#398;
	color:#FFF;
	font-size:0.14rem;
	border:none;
}/*确认提交按钮结束*/









