@charset "utf-8";
/* CSS Document */

.wrap
{
  font-size:0.2rem;
  background-color:#CCC;
  width:6rem;
  height:8rem;
  margin:0 auto;
	text-align: center;
  position:relative;
}

#logo
{
	width:6rem;
	height:8rem;
	position:absolute;

}

#logo img
{
	width:6rem;
	height:8rem;
}

























